<!DOCTYPE html>
<html lang="en">

<head>
  <title>Eat-Da-Burger</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <a><img src="/assets/img/burger.png" width=200></a>
      <h1>Eat-Da-Burger!</h1>

      {{{ body }}}

      <h2>Add a Burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>



        <button type="submit">Add Burger</button>
      </form>
      <footer class="footer">
        <div class="container">
          <p><a href="/api/burgers">API Burger List</a> |
            <a href="https://github.com/rgmcrary/burger">GitHub Repo</a>
          </p>
        </div>
      </footer>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>